/*------------------------------------*\
  #GLOBAL-STYLING
\*------------------------------------*/

* {
  box-sizing: border-box; /* Changes the box model so width and height include padding and border but not the margin */
  margin: 0; /* Removes the default margin from all elements */
}

label,input {
  display: block; /* Makes label and input elements block-level, so they take up the full width available */
}

body {
    background-color:#E1E6E1;

}


/* constraining the width of the webpage */

.center {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .width-sm {
    max-width: 20rem;
  }

  .width-lg {
    max-width: 40rem;
  }
  
  .width-xl {
          max-width: 60rem;
        }

/*------------------------------------*\
  #NAVIGATION-MENU
\*------------------------------------*/

nav {
  padding: 1.5rem; 
  background-color: #C7D1C7; /* Nav background color set to Ash Grey*/
  color: #262626; /* Nav font colour set to Eerie Black*/
}

nav img {
  display: block;
  margin: 0 auto; 
  padding: 10px 0; 
  width: 100px; 
  height: auto; 
}

/* Setting up a flexbox layout */
.row {
  display: flex; /* Enables flexbox layout, making child elements flex items */
  gap: 1rem; /* Space between each flex item */
  flex-wrap: wrap; /* Allows items to wrap to next line if space runs out */
  align-items: center; /* Vertically centers items in their line */
}

/* Ensures nav buttons have distributed space between them */
.justify-space-between {
  justify-content: space-between;
}

ul {
  list-style:none; /* Removes bullet points from lists */
}

ul.row li a {
  display: inline-block; /* Makes the link behave like a block but allows it to sit inline */
  font-family:'proxima-nova', sans-serif; /*TBU Font - to be defined upfront - relates to Issue #4*/
  font-weight: bold; /*TBU Font - to be defined upfront - relates to Issue #4*/
  text-decoration: none; /* Removes underline from links */
  padding: 14px 20px; /* Adds padding inside the links for clickable area */
}

ul.row li:not(:last-child) a {
  color: #262626 /* Sets the text colour for all links except for Contact Us */
}

ul.row li:last-child a {
  background-color: #FFE4E1; /* Background color for Contact Us*/
  color: #FF6663 /* Text colour for Contact Us */
}

ul.row li a:hover {
  background-color: #FFE4E1; /* Background color on hover */
  color: #FF6663; /* Text colour on hover */
}

/*------------------------------------*\
  #HEADER SECTION
\*------------------------------------*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 33vh; /* so header takes up two thirds of the viewport*/
  background-color: #E1E6E1;
  font-family:'proxima-nova', sans-serif; /*TBU Font - to be defined upfront - relates to Issue #4*/
}

header h1 { 
  font-weight: bold;
  padding: 10px 15px; 
  background-color: #FF6663; 
  color: #FFE4E1; 
}

header h2 { 
  margin-top: 0.5cm; 
  font-weight: bold;
  padding: 10px 15px; 
  background-color: #FFE4E1; 
  color: #FF6663; 
}

/*------------------------------------*\
  #ABOUT US SECTION
\*------------------------------------*/

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E1E6E1;
    font-family:'proxima-nova', sans-serif; /*TBU Font - to be defined upfront - relates to Issue #4*/
  }

#about h2 { 
    margin-top: 1cm; 
    font-weight: bold;
    padding: 10px 15px; 
    background-color: #FFE4E1; 
    color: #FF6663; 
  }


.flex-item {
    width: 48%;   /* width of those with class flex-item will be 48% of the container */
    margin-left: 20px; /* space between the left side of the parent container and child element */
    margin-top: 10px;

}

.flex-image {
    padding: 20px; /* space between the image and the right side of the parent container */
    width: 48%;  /* width of image will be 48% of the container */
}


.margin {
    margin: 1rem  1rem;
}


.quote {
    margin-top: 20px;
    padding: 40px 20px;
    color:#FFE4E1 ;
    font-style: italic;
    background-color:#FF6663;
    text-align: center; 
    font-weight: bold; 
    font-size: 20px;
}

#about {
    background-color: #C7D1C7;

    
}

/* Might need to update - section p might change css for all the section p in the code  */
section p {
    font-size: 16px;
    line-height: 150%;
    color: #262626;
    font-family:'proxima-nova', sans-serif; /*TBU Font - to be defined upfront */

}

/*------------------------------------*\
  #MEET THE TEAM
\*------------------------------------*/

#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#C7D1C7;
  font-family:'proxima-nova', sans-serif; /*TBU Font - to be defined upfront - relates to Issue #4*/
}

#team h2 {
  margin-top: 1cm; 
  font-weight: bold;
  padding: 10px 15px;
  background-color: #FFE4E1; 
  color: #FF6663; 
}

.founders {
  display: flex;
  justify-content: space-between; /* Manages spacing between items */
  flex-wrap: wrap;
  width: 100%;
}

.meet-founder-part {
  width: calc(50% - 6rem); /* Adjust width for each item */
  margin: 1rem 2rem; /* Side margins */
}

.meet-founder-part img {
  max-width: 100%; 
  width: 100%; 
  height: auto; 
}

.meet-founder-part figcaption {
  margin-bottom: 2rem;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #FF6663; 
  color: #FFE4E1; 
  text-align: center;
}

.meet-founder-part h3 {
  color: #262626;
}

.meet-founder-part p {
  font-size: 16px;
  line-height: 150%;
  color: #262626;
  margin-bottom: 1rem;
}

.meet-founder-part h3 + p {
  margin-top: 2rem; 
}

#team blockquote {
    width: 100%;
}
/*------------------------------------*\
  #GRID 
\*------------------------------------*/

  #travels {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#C7D1C7;
    font-family:'proxima-nova', sans-serif; 
  }
  
  #travels h2 {
    margin-top: 1cm; 
    margin-bottom: 1cm; 
    font-weight: bold;
    padding: 10px 15px; 
    background-color: #FFE4E1;
    color: #FF6663; 
  }

.image-grid {
    --gap: 30px;
    --num-cols: 3;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap)

}



/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

.border-style {
  border: 2px solid #FFE4E1; /* Sets the border color */
  padding: 8px;
  margin-bottom: 10px;
}

.border-style:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #FF6663; /* Changes the border color on focus for better visibility */
  padding: 8px;
  margin-bottom: 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #E1E6E1;
  font-family:'proxima-nova', sans-serif; /*TBU Font - to be defined upfront - relates to Issue #4*/
}

#contact h2 {
  margin-top: 1cm; 
  margin-bottom: 1cm; 
  font-weight: bold;
  padding: 10px 15px; /* Adds padding inside the links for clickable area */
  background-color: #FFE4E1; /* Background color for Contact Us */
  color: #FF6663; /* Text colour for Contact Us */
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form elements */
  gap: 10px; /* Spacing between form elements */
  width: fit-content;
  margin-bottom: 1cm;
}

.form-row, .checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto; /* Auto to accommodate content */
  min-width: 500px; /* Set a minimum width based on the checkbox label width */
  margin-bottom: 10px; /* Consistent spacing */
}

.form-row input[type="text"],
.form-row input[type="email"] {
  width: calc((100% - 10px) / 2); /* Adjust width to fill parent minus margin */
  margin-right: 10px; /* Margin between NAME and EMAIL inputs */
}

.form-row input[type="email"]:last-child {
  margin-right: 0; /* Ensures no extra margin on the right of the EMAIL input */
}

.form-row label {
  margin-right: 10px;
  margin-bottom: 5px;
  color:#FF6663;
  font-weight: bold;
}

.radio-container {
  display: flex;
  align-items: center; /* Centres the radio buttons and labels vertically */
}

input[type="radio"].border-style + label.radio {
  margin-left: 5px; /* Spacing between radio button and label */
}

fieldset {
  display: flex;
  flex-direction: row; /*Adjusts items to be in a row */
  justify-content: space-around; /*Spreads items evenly */ 
  flex-wrap: wrap;
  border: 2px solid #FF6663;
  padding: 0.5em 1em;
  margin-bottom: 10px;
  min-width: 500px;
  width: 100%;
}

legend {
  width: 100%; /* Ensures legend spans full width */
  padding: 0 10px; 
  margin-bottom: 10px; 
  color:#FF6663;
  font-weight: bold;
}

.checkbox-wrapper {
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
}

input[type="checkbox"].border-style {
  margin-right: 5px; /* Spacing between checkbox and its label */
  align-self: center;
}

label.checkbox {
  width: auto;
  flex-grow: 1;
}

label[for="message"]{
  display: block;
  text-align: left;
  width: 100%;
  color:#FF6663;
  font-weight:bold;
  margin-bottom: -5px;
}

textarea.border-style, button.border-style {
  width: 100%; /* Full width to match the form elements layout */
  margin-top: 10px; /* Spacing above textarea and button */
}

textarea.border-style {
  height: 150px;
}

button {
  padding-top: 15px;
  padding-bottom: 15px;
  color:#FF6663;
  background-color: #FFE4E1;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Smooth transition for background color on hover */
}

button:hover {
  background-color: #FF6663;
  color: #FFE4E1; 
  font-weight: bold;

}



/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  display: flex; /* Uses Flexbox for layout */
  flex-direction: column; /* Stacks children vertically */
  align-items: flex-start; /* Aligns children to the left */
  gap: 10px; /* Adds vertical space between children */
  padding: 20px;
  text-align: left; /* Aligns text to the left */
  font-family:'proxima-nova', sans-serif; /* Font style - to be moved up so it is applied to full document */
  background-color: #C7D1C7;
  color: #262626; /* Font colour - to be moved up so it is applied to full document */
}

footer h3 {
  margin-bottom: 5px; /* Adds a small space below the heading */
}

footer ul {
  list-style: none; /* Removes bullet points */
  padding: 0;
  margin: 0;
}

footer ul li a {
  text-decoration: none; /* Removes underline from links */
  display: inline-block; /* Allows the application of padding and enables the block to size to its content */
  font-size: 0.9em; /* Smaller font size for the links */
  font-weight: bold; /* Makes the link text bold */
  margin-top: 5px; /* Adds space above each link */
  padding: 5px 10px; /* Adds padding around the text for better clickability */
  transition: background-color 0.3s; /* Smooth transition for background color on hover */
}

/* Hover state styles for links */
footer ul li a:hover {
  background-color: #FFE4E1;
  color: #FF6663; 
}

footer p {
  margin-top: 20px; /* Adds space above the paragraph for separation from the list */
  font-size: 0.8em; /* Smaller font size for the copyright text */
}

a, a:visited {
  color: #262626; /* Sets text color for both unvisited and visited links */
  text-decoration: none; /* Removes underline from all links */
}


/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

/**
* Navigation-Menu
 */

 

/**
* Header-Section
 */

/**
* About-Us
 */

/**
* Meet-the-Team
 */



 /**
* Photo-Grid
 */


/* anything under 1024px  */
@media screen and (max-width: 1024px) {
  .image-grid {
      --num-cols: 2;
      --row-height: 200px;
  }

}

.image-grid > img {
  width: 100%;
  height: 100%;
}


/**
* Contact-Us
 */



